@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@import uk.gov.hmrc.vatdeferralnewpaymentschemefrontend.config.AppConfig

@this(layout: Layout)

@(totalDeferredVatAmount: String, deferredVatAmount: String, deferredVatAmountPaid: String)(implicit request: Request[_], messages: Messages, appConfig: AppConfig)

@layout(pageTitle = Some("vat-deferral-new-payment-scheme-frontend")) {

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Your deferred VAT bill is £@deferredVatAmount</h1>

            <h2 class="govuk-heading-m">How we worked out your deferred VAT bill</h2>
            <table class="govuk-table">
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">VAT payable for 20 March to 30 June 2020</th>
                        <td class="govuk-table__cell ">£@totalDeferredVatAmount</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">VAT paid to date</th>
                        <td class="govuk-table__cell ">£@deferredVatAmountPaid</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">Deferred VAT left to pay by 31 March 2022</th>
                        <td class="govuk-table__cell ">£@deferredVatAmount</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}
