@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@import uk.gov.hmrc.vatdeferralnewpaymentschemefrontend.config.AppConfig
@import uk.gov.hmrc.govukfrontend.views.Layouts
@import views.html.helper.CSRF


@this(layout: Layout)

@(form: Form[_])(implicit request: Request[_], messages: Messages, appConfig: AppConfig)
@vrnFieldId=@{"vrn"}
@layout(pageTitle = Some("vat-deferral-new-payment-scheme-frontend")) {

    @helpers.error_summary(form)

    <form action="enter-vrn" method="POST">
        @CSRF.formField(request)

        @helpers.input_text(
            id = vrnFieldId,
            label = messages("enter.vrn.heading"),
            value = form("vrn").value.getOrElse(""),
            inputType = "text",
            inputClass = Some("form-control-1-3"),
            name = vrnFieldId,
            errorMessage = form.error("vrn").map(x => Some(x.message)).getOrElse(None),
            isQuestionPage = true,
            hint = Some(messages("enter.vrn.hint"))
        )

        <button class="govuk-button button" data-module="govuk-button">@messages("global.button.continue")</button>
    </form>
}
