@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@import uk.gov.hmrc.vatdeferralnewpaymentschemefrontend.config.AppConfig
@import uk.gov.hmrc.govukfrontend.views.Layouts
@import views.html.helper.CSRF

@this(layout: Layout)

@(vatAmount: String = "", errorMsg: Option[String] = None)(implicit request: Request[_], messages: Messages, appConfig: AppConfig)
@vatReturnFieldId=@{"vat-amount"}
@layout(pageTitle = Some("vat-deferral-new-payment-scheme-frontend")) {

    <form action="enter-vat-registration-date" method="POST">
        @CSRF.formField(request)

        <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="postcode">
            @messages("enter.vatRegistrationDate.heading")
            </label>
        </h1>
        <p>@messages("enter.vatRegistrationDate.hint1")</p>
        <div id="passport-issued-hint" class="govuk-hint">
            @messages("enter.vatRegistrationDate.hint2")
        </div>

        <div class="govuk-date-input" id="passport-issued">
            <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="day">
                        Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="day" name="day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
            </div>
            <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                        Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="month" name="month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
            </div>
            <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                        Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="year" name="year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
            </div>
        </div>

        <button class="govuk-button button" data-module="govuk-button">@messages("global.button.continue")</button>
    </form>
}
