@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@import uk.gov.hmrc.vatdeferralnewpaymentschemefrontend.config.AppConfig
@import uk.gov.hmrc.vatdeferralnewpaymentschemefrontend.viewmodel.Month
@import views.html.helper.CSRF
@import uk.gov.hmrc.vatdeferralnewpaymentschemefrontend.controllers

@this(layout: Layout)

@(months: Seq[Month])(implicit request: Request[_], messages: Messages, appConfig: AppConfig)

@layout(pageTitle = Some("vat-deferral-new-payment-scheme-frontend")) {

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">@messages("how.many.months.heading")</h1>

            <form action="@controllers.routes.MonthsController.post()" method="POST">
                @CSRF.formField(request)

            @months.map(item => {
                <div>
                    <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="{item.month}-month" name="how-many-months" type="radio" value={item.month}></input>
                    <label class="govuk-label govuk-radios__label govuk-!-padding-top-0 govuk-!-padding-bottom-6" for="2-months">
                    <span class="govuk-body govuk-!-font-size-36">{item.month}</span>
                    months at
                    <span class="govuk-!-font-weight-bold">£{item.amount}</span>
                    </label>
                    <div class="govuk-hint govuk-radios__hint">
                    With remaining
                    <span class="govuk-!-font-weight-bold">£{item.remainder}</span>
                    added to final payment
                    </div>
                    <hr class="govuk-section-break govuk-section-break--visible"></hr>
                    </div>
                </div>
            })


            <button class="govuk-button button" data-module="govuk-button">@messages("global.button.continue")</button>
            </form>
        </div>
    </div>
}
