@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@import uk.gov.hmrc.vatdeferralnewpaymentschemefrontend.config.AppConfig
@import uk.gov.hmrc.vatdeferralnewpaymentschemefrontend.viewmodel.Month
@import views.html.helper.CSRF
@import uk.gov.hmrc.vatdeferralnewpaymentschemefrontend.controllers

@this(layout: Layout)

@(amount: BigDecimal, remainder: BigDecimal)(implicit request: Request[_], messages: Messages, appConfig: AppConfig)

@layout(pageTitle = Some(messages("installments.h1"))) {

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="@controllers.routes.MonthsController.post()" method="post" novalidate>
                @CSRF.formField(request)
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                                @messages("installments.h1")
                            </h1>
                        </legend>
                        <p class="govuk-body">@messages("installments.p1")
                            <span class="govuk-body govuk-!-font-weight-bold">£@amount</span>.</p>
                        <p class="govuk-body">@messages("installments.p2.1") £@remainder @messages("installments.p2.2")</p>
                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="where-do-you-live" name="11-months-to-pay" type="radio" value="true">
                                <label class="govuk-label govuk-radios__label" for="11">
                                @messages("installments.option.1")
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="where-do-you-live-2" name="11-months-to-pay" type="radio" value="false">
                                <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                                @messages("installments.option.2")
                                </label>
                            </div>
                        </div>

                    </fieldset>
                </div>

                <button class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
            </form>
        </div>
    </div>
}
