$govuk-assets-path: "/pay-vat-deferred-due-to-coronavirus/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/pay-vat-deferred-due-to-coronavirus/assets/lib/hmrc-frontend/hmrc/";

@import "lib/govuk-frontend/govuk/all";
@import "lib/hmrc-frontend/hmrc/all";
@import "language-selection";

.print-link {
  display: none;
}
.js-enabled .print-link {
  display: inline-block;
}

.months-to-pay-hint {
  border-bottom: 1px solid #b1b4b6;
  padding-bottom: 10px;
}